/home/.atom/.apm/
/home/.atom/.node-gyp/
/home/.atom/blob-store/
/home/.atom/compile-cache/
/home/.atom/dev/
/home/.atom/packages/
/home/.atom/recovery/
/home/.atom/storage/
/home/.atom/.atom-socket-secret-*
/home/.atom/test-status.cson
