[user]
  name = Felix Kiss
  email = felix@felixkiss.com
[push]
  default = simple
[color]
  ui = true
[core]
  editor = text --wait
  excludesfile = ~/.gitignore_global
  pager = less -F -X # avoid pager when content is less than terminal height
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = lol --all
  show-merged-branches = "!git branch --merged master | grep -v master | grep -v \\*"
  delete-merged-branches = "!git show-merged-branches | xargs -n 1 git branch -d"
  force-delete-merged-branches = "!git show-merged-branches | xargs -n 1 git branch -D"
  cleanup = remote prune origin
  undo = reset --soft HEAD~
  unstage = reset
  stage-all = "!git add --all"
  patch = format-patch HEAD^ --stdout
  wip = "!git stage-all && git commit -m \"[wip] [skip ci]\""
  wipco = "!git wip && git checkout"
  wip-patch = "!git wip && git patch"
  co = checkout
  f = fetch
  p = pull
  m = merge
  ca = commit --amend
  append = commit --amend --no-edit
  actually = "!git stage-all && git append"
  list-branches = branch --sort=committerdate

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
  path = /usr/local/bin
[difftool "sourcetree"]
  cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
  path =
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[mergetool "sourcetree"]
  cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[merge]
  tool = Kaleidoscope
[mergetool]
  prompt = false
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[init]
	defaultBranch = main
