"*":
  alignment:
    rightSeparators: [
      "="
      "+="
      "-="
      "*="
      "/="
      "?="
      "|="
      "%="
      ".="
    ]
    spaceSeparators: [
      "="
      "+="
      "-="
      "*="
      "/="
      "?="
      "|="
      "%="
      ".="
      "//"
    ]
  "atom-ide-ui":
    use: {}
  "atom-material-ui":
    colors: {}
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui: {}
  "atom-package-deps":
    ignored: []
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "li"
    ]
    makeNeverCloseSelfClosing: false
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "archive-view"
      "autosave"
      "bracket-matcher"
      "feedback"
      "test-status"
      "whitespace"
      "php-integrator-autocomplete-plus"
      "php-integrator-base"
      "ide-php"
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".vagrant"
      ".sass-cache"
    ]
    projectHome: "/Users/felix/code"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 19
    invisibles:
      cr: "↩"
      eol: " "
    lineHeight: 1.8
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ac87803e-55eb-c8aa-62b0-44ab537d7fea"
  feedback:
    email: "felix@felixkiss.com"
  "grammar-config":
    PHP:
      editor:
        tabLength: 4
  "ide-php":
    phpPath: "/usr/local/bin/php"
  "language-dotenv":
    dotenvFileNames: [
      ".env"
      ".env.example"
      ".env.template"
      ".env.development"
      ".env.development.local"
    ]
  linter: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 158
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "7a4e048aa0bd763d5479ed6f8ab642714780a0d3"
  "php-cs-fixer": {}
  "php-ide-serenata":
    linting:
      showMissingDocs: false
      showUnknownGlobalFunctions: false
  "php-integrator-autocomplete-plus":
    enablePhpunitAnnotationTags: false
  "php-integrator-base":
    linting:
      showMissingDocs: false
      showUnknownClasses: false
      showUnknownGlobalConstants: false
      showUnknownGlobalFunctions: false
      validateDocblockCorrectness: false
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "test-status":
    "gulpfile.js": "gulp test"
    "phpspec.atom.yml": "phpspec run --config phpspec.atom.yml"
    "phpspec.yml": "phpspec run"
    "phpunit.atom.xml": "phpunit --configuration phpunit.atom.xml"
    "phpunit.xml": "phpunit"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".gfm.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: false
"linter-jshint":
  disableWhenNoJshintrcFileInPath: true
  executablePath: "/usr/local/bin/jshint"
  lintInlineJavaScript: false
