'body':
  # A new hope/line
  'cmd-"': 'pane:show-next-item'
  'cmd-!': 'pane:show-previous-item'
  'cmd-C': 'color-picker:open'
  'cmd-+': 'color-picker:open'

'.platform-darwin atom-workspace':
  'cmd-"': 'pane:show-next-item'
  'cmd-\'': 'toggle-quotes:toggle'

'atom-workspace atom-text-editor:not([mini])':
  'alt-cmd-left': 'editor:fold-current-row'
  'alt-cmd-right': 'editor:unfold-current-row'
  'ctrl-alt-cmd-left': 'editor:fold-all'
  'ctrl-alt-cmd-right': 'editor:unfold-all'
