'body':
  # A new hope/line
  'cmd-"': 'pane:show-next-item'
  'cmd-!': 'pane:show-previous-item'
  'cmd-C': 'color-picker:open'
  'cmd-+': 'color-picker:open'
  'cmd-\'': 'toggle-quotes:toggle'

'.platform-darwin atom-workspace':
  'cmd-"': 'pane:show-next-item'
